:root {
    /* ローディング画面の長さはここで制御 */
    --loader-duration: 1s
}

/*-------------------------------------------
ローディング画面
-------------------------------------------*/
.loader {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: #24292e;
}

.loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.loader.hide {
    pointer-events: none;
    animation: loadinghide var(--loader-duration) forwards;
}

@keyframes loadinghide {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.character {
    width: 180px; /* 画像の幅を調整 */
    height: auto; /* 高さは自動調整 */
    animation: skipMotion 3s linear infinite;
}

@keyframes skipMotion {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(40px) rotate(15deg); /* 左に50px移動 */
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-40px) rotate(-15deg); /* 右に50px移動 */
    }
    100% {
        transform: translateX(0);
    }
}

.loader-msg {
    color: #f4f5f7;
    font-size: 1.5rem;
    text-align: center;
}

/*-------------------------------------------
ローディング画面（モバイル端末）
-------------------------------------------*/
@media (max-width: 600px) {
    .character {
        width: 120px;
        margin-bottom: 1rem;
    }

    @keyframes skipMotion {
        25% {
            transform: translateX(20px) rotate(15deg); /* 左に50px移動 */
        }
        75% {
            transform: translateX(-20px) rotate(-15deg); /* 右に50px移動 */
        }
    }
}
