/*-------------------------------------------
Root
-------------------------------------------*/
:root {
    --main-text-color: #24292e;
    --main-background-color: #f4f5f7;
    --blonde-color: #fcdfb6cf;
    --lavender-color: #d2daff;
    --deep-lavender-color: #545766;
    --inset-border-color: rgba(255,255,255,0.5);
}

/*-------------------------------------------
共通
-------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    color: var(--main-text-color);
    font-size: 100%;
    height: 100vh;
    font-family: "Noto Sans JP";
    line-height: 1.7;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}

.page-title {
    font-family: 'Cherry Bomb One', system-ui;
    font-weight: 600;
    font-size: 4rem;
}

.sub-title {
    text-align:  center;
}

.main-bg {
    background: url("/img/background-img.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #24292e6b;
    background-blend-mode: multiply;
}

/* 徐々に画像を拡大する */
@media (max-width: 900px) {
    .main-bg {
        background-size: 150%;
    }
}

@media (max-width: 500px) {
    .main-bg {
        background-size: 250%;
    }
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
    height: 100vh;
}

.header-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: space-between;
    padding-top: 40px;
}

section.upper-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 0.5rem;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.rotate-word {
    overflow: hidden;
    font-family: 'Cherry Bomb One', system-ui;
    animation: rotation-word 4s 1.2s infinite;
}

h1[class~="rotate-word"] {
    color: var(--lavender-color);
    display: block;
    height: 100px;
    font-size: 4.5rem;
}

.rotate-word-deep-color {
    color: var(--deep-lavender-color);
}

span[class~="rotate-word"] {
    display: block;
    animation: move-word 8s steps(2) infinite;
}

@keyframes rotation-word {
    50% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(1turn);
    }
}

@keyframes move-word {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-240px);
    }
}

/*-------------------------------------------
自己紹介
-------------------------------------------*/
.lower-content {
    font-family: 'Cherry Bomb One', system-ui;
    width: 100%;
    padding: 10px 20px;
    color: var(--lavender-color);
    line-height: 2rem;
    font-size: 1.25rem;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .1);
    transition: all 0.5s;
}

.lower-content a {
    color: #00BBDD;
    position: relative;
}

.lower-content a:after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #00BBDD;
    bottom: -3px;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;   /*変形の時間*/
}
    
.lower-content a:hover:after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
/*-------------------------------------------
メインコンテンツ
-------------------------------------------*/
.main {
    height: 100vh;
}

.main-content {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.main-content .page-title {
    color: var(--lavender-color);
}

.main-content section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
}

/* 更新内容 */
.history-container {
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.history {
    position: relative;
    font-size: 1.25rem;
    height: 120px;
}

.history-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.history-date {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    z-index: 3;
    font-family: 'Cherry Bomb One', system-ui;
    line-height: 100px;
    font-size: 1rem;
    color: var(--main-text-color);
}

/* 円形要素 */
.history-date:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: var(--lavender-color);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    z-index: -1;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
}

/* ハート要素 */
.history-date:after {
    width: 40%;
    height: 40px;
    position: absolute;
    top: -40%;
    left: -40%;
    transform: rotate(-45deg);
    content: "\f004";
    color: var(--lavender-color);
    font-size: 40px;
    font-family: fontAwesome;
    z-index: -1;
}

.history-text {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
    width: 360px;
    z-index: 2;
    color: var(--lavender-color);
    padding: 10px;
}

/*-------------------------------------------
ページネーション機能
-------------------------------------------*/
.pagination {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 10px;
    gap: 1rem;
}

.pagination-button {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    color: var(--main-background-color);
    font-family: 'Cherry Bomb One', system-ui;
    cursor: pointer;
    z-index: 2;
}

.pagination-button::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    content: "\f111";
    color: var(--deep-lavender-color);
    font-size: 40px;
    font-family: fontAwesome;
    z-index: -1;
}

.history-hidden {
    display: none;
}

/* アクティブ状態のボタン */
.pagination-button.active-button {
    color: var(--main-text-color);
}

.pagination-button.active-button::before {
    content: "";
    background-color: var(--lavender-color);
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    z-index: -1;
    border-radius: 20px;
}

/*-------------------------------------------
コンタクト
-------------------------------------------*/
.contact {
    height: 100vh;
}

.contact-content {
    max-height: 80vh;
    padding-bottom: 120px;
}

.contact-content .page-title {
    color: var(--lavender-color);
}

.contact-content section {
    margin-top: 2rem;
}

.contact-form .input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-input,
.right-input {
    width: 50%;
}

label {
    font-size: 1.125rem;
    display: block;
    color: var(--lavender-color);
}

input[type="text"],
input[type="email"],
textarea {
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(20px);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"] {
    width: 100%;
}

textarea {
    width: 100%;
    height: 8rem;
}

input[type="submit"] {
    text-align: center;
    border: 1px #fff solid;
    color: #fff;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    line-height: 1;
    background-color: var(--deep-lavender-color);
}

/*-------------------------------------------
フッター
-------------------------------------------*/
footer {
    width: 100%;
    text-align: center;
    padding: 14px 0;
}

footer p {
    color: #f4f4f4;
    font-size: 0.875rem;
}
