/*-------------------------------------------
Root
-------------------------------------------*/
:root {
    --main-text-color: #24292e;
    --main-background-color: #fff;
}

/*-------------------------------------------
共通
-------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-size: 100%;
    height: 100vh;
    font-family: "Noto Sans JP";
    line-height: 1.7;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 4%;
}

.page-title {
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 600;
}

.sub-title {
    text-align:  center;
}

.scroll-container {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.scroll-container-inner {
    scroll-snap-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
    height: 100vh;
    background-image: url("../img/main-header.png");
}

.big-bg {
    background-size: cover;
    background-position: center top;
}

.header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    padding: 2rem auto;
}

.rotate-word {
    overflow: hidden;
    font-family: 'Sofia', cursive;
    animation: rotation-word 4s 1.2s infinite;
}

h1[class~="rotate-word"] {
    color: #443e43d4;
    display: block;
    height: 80px;
    font-size: 3.5rem;
}

span[class~="rotate-word"] {
    display: block;
    animation: move-word 8s steps(2) infinite;
}

@keyframes rotation-word {
    50% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(1turn);
    }
}

@keyframes move-word {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-210px);
    }
}

section.upper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*-------------------------------------------
ヘッダーナビゲーション
-------------------------------------------*/
nav.header-navigation {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header-navigation .header-nav-button {
    height: 50px;
    width: 50px;
    float: left;
    background-color: #f4f5f773;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.header-navigation .header-nav-button:hover {
    width: 200px;
}

.header-navigation .header-nav-button .header-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    transition: all 0.3s;
}

.header-navigation .header-nav-button .header-icon i {
    font-size: 25px;
    line-height: 50px;
}

.header-navigation .header-nav-button:hover .header-icon i {
    color: #f4f5f7;
}

.header-navigation .header-nav-button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
}

.header-navigation .header-nav-button span a {
    transition: all 0.3s;
}

.header-navigation .header-nav-button:nth-child(1):hover .header-icon {
    background: #333;
}
.header-navigation .header-nav-button:nth-child(2):hover .header-icon {
    background: #1da1f2;
}
.header-navigation .header-nav-button:nth-child(3):hover .header-icon {
    background: #e1306c;
}

.header-navigation .header-nav-button:nth-child(1):hover span a {
    color: #333;
}
.header-navigation .header-nav-button:nth-child(2):hover span a {
    color: #1da1f2;
}
.header-navigation .header-nav-button:nth-child(3):hover span a {
    color: #e1306c;
}

/*-------------------------------------------
メインコンテンツ
-------------------------------------------*/
.main {
    height: 100vh;
    background-image: url("../img/main-header-lower.png");
}

.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;
}

.history-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.history {
    text-align: start;
    font-size: 1.25rem;
    height: 130px;
}

.history:nth-child(even) {
    text-align: end;
}

.history-date {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    color: var(--main-background-color);
    text-align: center;
    font-size: 1rem;
    z-index: 2;
    line-height: 120px;
    font-family: 'Poppins', sans-serif;
}

/* 円形要素 */
.history-date:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    content: "\f111";
    color: #c94249cb;
    font-size: 120px;
    font-family: fontAwesome;
    z-index: -1;
}

/* ハート要素 */
.history-date:after {
    width: 40%;
    height: 40px;
    position: absolute;
    top: -40%;
    left: -40%;
    transform: rotate(-45deg);
    content: "\f004";
    color: #c94249cb;
    font-size: 40px;
    font-family: fontAwesome;
    z-index: -1;
}

.history-content {
    text-align: center;
    font-size: 1rem;
    position: relative;
    color: var(--main-background-color);
    z-index: 1;
    width: 100px;
    height: 100px;
    display: inline-block
}

/* 円形要素 */
.history-content:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    content: "\f111";
    color: #443e43d4;
    font-size: 160px;
    font-family: fontAwesome;
    z-index: -1;
}

/*-------------------------------------------
ページネーション機能
-------------------------------------------*/
/* 後々改良予定 */
.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    gap: 1rem;
}

.pagination li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #c94249cb;
    color: var(--main-background-color);
    margin-right: 10px;
    cursor: pointer;
}

.history-hidden {
    display: none;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
footer {
    width: 100%;
    text-align: center;
    padding: 14px 0;
}

footer p {
    color: #f4f4f4;
    font-size: 0.875rem;
}
