/*-------------------------------------------
Root
-------------------------------------------*/
:root {
    --main-text-color: #24292e;
    --main-background-color: #f4f5f7;
}

/*-------------------------------------------
共通
-------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-size: 100%;
    height: 100vh;
    font-family: "Noto Sans JP";
    line-height: 1.7;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 4%;
}

.page-title {
    font-family: 'Sofia', cursive;
    color: #fcdfb6c9;
    font-weight: 600;
    font-size: 4rem;
}

.sub-title {
    text-align:  center;
}

.scroll-container {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.scroll-container-inner {
    scroll-snap-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
    height: 100vh;
    background-image: url("../img/main-header.png");
    background-color: #24292ecc;
    background-blend-mode: overlay;
}

.big-bg {
    background-size: cover;
    background-position: center top;
}

.header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    padding: 2rem;
}

section.upper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

.rotate-word {
    overflow: hidden;
    font-family: 'Sofia', cursive;
    animation: rotation-word 4s 1.2s infinite;
}

h1[class~="rotate-word"] {
    color: #fcdfb6c9;
    display: block;
    height: 100px;
    font-size: 4.5rem;
}

span[class~="rotate-word"] {
    display: block;
    animation: move-word 8s steps(2) infinite;
}

@keyframes rotation-word {
    50% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(1turn);
    }
}

@keyframes move-word {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-240px);
    }
}

/*-------------------------------------------
ヘッダーナビゲーション
-------------------------------------------*/
nav.header-navigation {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header-navigation .header-nav-button {
    height: 50px;
    width: 50px;
    float: left;
    background-color: #f4f5f773;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.header-navigation .header-nav-button:hover {
    width: 200px;
}

.header-navigation .header-nav-button .header-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    transition: all 0.3s;
}

.header-navigation .header-nav-button .header-icon i {
    font-size: 25px;
    line-height: 50px;
}

.header-navigation .header-nav-button:hover .header-icon i {
    color: #f4f5f7;
}

.header-navigation .header-nav-button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
}

.header-navigation .header-nav-button span a {
    transition: all 0.3s;
}

.header-navigation .header-nav-button:nth-child(1):hover .header-icon {
    background: #333;
}
.header-navigation .header-nav-button:nth-child(2):hover .header-icon {
    background: #1da1f2;
}
.header-navigation .header-nav-button:nth-child(3):hover .header-icon {
    background: #e1306c;
}

.header-navigation .header-nav-button:nth-child(1):hover span a {
    color: #333;
}
.header-navigation .header-nav-button:nth-child(2):hover span a {
    color: #1da1f2;
}
.header-navigation .header-nav-button:nth-child(3):hover span a {
    color: #e1306c;
}

/*-------------------------------------------
自己紹介？
-------------------------------------------*/
.lower-content {
    color: #fcdfb6c9;
    line-height: 2rem;
}

/*-------------------------------------------
メインコンテンツ
-------------------------------------------*/
.main {
    height: 100vh;
    background-image: url("../img/main-header-lower.png");
    background-color: #24292ecc;
    background-blend-mode: overlay;
}

.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.main-content section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem;
}

.history-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    height: 600px;
}

.history {
    font-size: 1.25rem;
    height: 120px;
}

.history:nth-child(3n-2) {
    margin-left: -40%;
}

.history:nth-of-type(3n) {
    margin-left: 40%;
}

.history-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1rem;
    z-index: 1;
}

.history-date {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    text-align: center;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    line-height: 120px;
    font-size: 1rem;
    color: var(--main-background-color);
}

/* 円形要素 */
.history-date:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #24292ecc;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    z-index: -1;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
}

/* ハート要素 */
.history-date:after {
    width: 40%;
    height: 40px;
    position: absolute;
    top: -45%;
    left: -45%;
    transform: rotate(-45deg);
    content: "\f004";
    color: #24292ecc;
    font-size: 40px;
    font-family: fontAwesome;
    z-index: -1;
}

.history-text {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
    /* height: 120px; */
    width: 120px;
    z-index: 2;
}

/* 円形要素 */
.history-text:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fcdfb6c9;
    width: 180px;
    height: 180px;
    z-index: -1;
    border-radius: 90px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
}

/* 要素がふわっと表示される */
/* 初回に訪れた時もふわっと表示されるようにしたい */
.history:not([history-hidden]):nth-of-type(3n-2) {
    opacity: 0;
    animation: huwatto_v1 2s forwards;
}

.history:not([history-hidden]):nth-of-type(3n-1) {
    opacity: 0;
    animation: huwatto_v1 2s 0.2s forwards;
}

.history:not([history-hidden]):nth-of-type(3n) {
    opacity: 0;
    animation: huwatto_v1 2s 0.4s forwards;
}

@keyframes huwatto_v1 {
    0% {
        scale: 0.9;
        opacity: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

/*-------------------------------------------
ページネーション機能
-------------------------------------------*/
.pagination {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 10px;
    gap: 1rem;
}

.pagination-button {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    color: var(--main-background-color);
    cursor: pointer;
    z-index: 2;
}

.pagination-button::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    content: "\f111";
    color: #24292ecc;
    font-size: 40px;
    font-family: fontAwesome;
    z-index: -1;
}

.history-hidden {
    display: none;
}

/* アクティブ状態のボタン */
.pagination-button.active-button {
    color: var(--main-text-color);
}

.pagination-button.active-button::before {
    content: "";
    background-color: #fcdfb6c9;
    /* background-image: url("/img/loader-char.png"); */
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    z-index: -1;
    border-radius: 20px;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
footer {
    width: 100%;
    text-align: center;
    padding: 14px 0;
}

footer p {
    color: #f4f4f4;
    font-size: 0.875rem;
}
