/* PC専用 */

/*-------------------------------------------
Root
-------------------------------------------*/
:root {
    --main-text-color: #24292e;
    --main-background-color: #f4f5f7;
    --blonde-color: #fcdfb6cf;
    --lavender-color: #d2daff;
    --deep-lavender-color: #545766;
    --inset-border-color: rgba(255,255,255,0.5);
}

/*-------------------------------------------
ヘッダーナビゲーション
-------------------------------------------*/
nav.header-navigation {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header-navigation .header-nav-button {
    height: 50px;
    width: 50px;
    float: left;
    background-color: var(--lavender-color);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.header-navigation .header-nav-button:hover {
    width: 200px;
}

.header-navigation .header-nav-button .header-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    transition: all 0.3s;
}

.header-navigation .header-nav-button .header-icon i {
    font-size: 25px;
    line-height: 50px;
}

.header-navigation .header-nav-button:hover .header-icon i {
    color: var(--lavender-color);
}

.header-navigation .header-nav-button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
}

.header-navigation .header-nav-button span a {
    transition: all 0.3s;
}

.header-navigation .header-nav-button:nth-child(1):hover .header-icon {
    background: #333;
}
.header-navigation .header-nav-button:nth-child(2):hover .header-icon {
    background: #1da1f2;
}
.header-navigation .header-nav-button:nth-child(3):hover .header-icon {
    background: #e1306c;
}

.header-navigation .header-nav-button:nth-child(1):hover span a {
    color: #333;
}
.header-navigation .header-nav-button:nth-child(2):hover span a {
    color: #1da1f2;
}
.header-navigation .header-nav-button:nth-child(3):hover span a {
    color: #e1306c;
}